h1 {
    color: cornflowerblue;
}

.myCornFlowerButton {
    background-color: cornflowerblue;
    color: white;
}

.myCornFlowerButton:hover {
    background-color: rgb(80, 129, 221);
    color: white;
}

.myDeleteButton {
    background-color: #ee7681;
    color: white;
}

.myDeleteButton:hover {
    background-color: #e96671;
    color: white;
}

.myCardBg {
    background-color: #e9ecef;
}

.chore-table tr:hover {background-color: #bbcef0;}

table {
    cursor: default;
}
