{% extends 'index.html' %}

{% block content %}
<br/>
<h1 class="display-4">Chores</h1>

<div id="chore-content">
    <div class="container-fluid">
            <br/>
            <div class="card myCardBg border-0" >
                <div class="card-body">
                    <h3 class="card-title">{{type.name}}</h3>
                    <table class="container-fluid chore-table">
                        {% for ch in chores %}
                            <tr>
                                <td>{{ch.name}}</td>
                                <td>
                                    <a href="/confirm-delete-chore/{{ch.id}}/" class="btn myDeleteButton btn-sm" style="float: right;">Delete</a>
                                    <a href="/edit-chore-get/{{ch.id}}/" class="btn myCornFlowerButton btn-sm" style="float: right; margin-right:5px;">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>
</div>
<br/>
<button onclick="window.location.href='/choretypes'" style="float: right;" class="btn myCornFlowerButton btn-sm">Back to Categories</button>
<br/><br/>

{% endblock %}
