{% extends 'index.html' %}

{% block content %}
<br/>
<h1 class="display-4">Chore Diary</h1>
<br/>
<div id="chore-content">
    <div id="remove-div">
        <h4>Delete Diary Entry</h4>

        <p class="lead">Are you sure you want to remove this entry?</p>
        <br/>
        <div class="card myCardBg border-0 col-md-5" >
            <div class="card-body">
                <h3 class="card-title">{{entry.chore.name}}</h3>

                <ul class="card-body lead">
                    <li><b>Date:</b> {{entry.date}}</li>
                    <li><b>Duration:</b> {{entry.duration}} minutes</li>
                    <li><b>Person:</b> {{entry.person}}</li>
                </ul>
            </div>
        </div>    

        <br>
        <a href="/delete-diary-entry/{{entry.id}}/" class="btn myDeleteButton">Delete</a>
        <button onclick="window.location.href='/chore-diary'" class="btn btn-secondary">Cancel</a>

    </div>
</div>

{% endblock %}
