{% extends 'index.html' %}

{% block content %}
<br/>
<h1 class="display-4">Chore Categories</h1>
<br/>
<div id="chore-content">
    <div id="remove-div">
        <h4>Delete Chore</h4>

        <p class="lead">Are you sure you want to remove this Chore?</p>
        <br/>
        <div class="card myCardBg border-0" >
            <div class="card-body">
                <h3 class="card-title">{{chore.name}}</h3>
                <p class="card-body lead">{{chore.type.name}}</p>
                <br>

                <p>This operation will also affect all {{chore.name}} entries in a Chore Diary.</p>

            </div>
        </div>    

        <br>
        <a href="/delete-chore/{{chore.id}}/" class="btn btn-danger">Delete</a>
        <button onclick="window.location.href='/chores'" class="btn btn-secondary">Cancel</a>

    </div>
</div>

{% endblock %}
